# Examen Módulo 1 - Optimización. <font color=blue>Tipo de examen 3</font>.
Lea cuidadosamente las siguientes **indicaciones** antes de comenzar el examen:
- Para resolver el examen edite este mismo archivo y renómbrelo de la siguiente manera: *Examen3_ApellidoNombre*, donde *ApellidoNombre* corresponde a su apellido paterno con la inicial en mayúscula, seguido de su primer nombre con la inicial en mayúscula **sin acentos**. 
- Resuelva los puntos en el espacio provisto. Si requiere agregar más celdas para código o escritura, hágalo.
- Recuerde que también se está evaluando su capacidad de interpretar los resultados. Escriba sus interpretaciones/conclusiones en celdas utilizando *Markdown*.
- El formato de presentación de todo el examen en general debe ser adecuado. Use tamaños de letra, colores, etiquetas, etcétera.
- No se resuelven dudas de ningún tipo por los profesores de la asignatura. Por favor, absténgase de preguntar.
- Revise bien el tipo de examen. Sólo se le calificará si realiza el tipo de examen asignado.

## Primer punto. Optimización de funciones escalares usando `sympy` (30 puntos).

**Enunciado.** 

Las ganancias diarias en miles de dólares de una empresa petrolera son

$$f(x)=-(30-x)^3 + 15(30-x)^2 +30,$$

donde $ 15 \leq x \leq 35$, siendo $x$ el número de barriles de $1000L$ que se producen.

**Punto 1 (15 puntos).** Usando `sympy` calcular cuántos barriles deben producirse para maximizar las ganancias

**Punto 2 (15 puntos).** Grafique los resultados obtenidos

## Segundo punto. Programación lineal (35 puntos).

**Enunciado.** 

Un proveedor debe preparar con 4 bebidas de fruta en existencia, al menos 500 galones de un ponche que contenga por lo menos 20% de jugo de naranja, 10% de jugo de toronja y 5% de jugo de arándano. Si los datos del inventario son los que se muestran en la tabla siguiente ¿Qué cantidad de cada bebida deberá emplear el proveedor a fin de obtener la composición requerida a un costo total mínimo?

In [32]:
import pandas as pd
df = pd.DataFrame(columns=['Jugo de Naranja[%]', 'Jugo de Toronja[%]', 'Jugo de Arándano[%]', 'Existencia [gal]', 'Costo [$/gal] '], index = ['Bebida A','Bebida B','Bebida C','Bebida D'])
df.loc['Bebida A', :] = [ 40, 40, 0,200,1.50]
df.loc['Bebida B', :] = [  5, 10,20,400,0.75]
df.loc['Bebida C', :] = [100,  0, 0,100,2.00]
df.loc['Bebida D', :] = [  0,100, 0, 50,1.75]
df

,Jugo de Naranja[%],Jugo de Toronja[%],Jugo de Arándano[%],Existencia [gal],Costo [$/gal]
Bebida A,40,40,0,200,1.5
Bebida B,5,10,20,400,0.75
Bebida C,100,0,0,100,2
Bebida D,0,100,0,50,1.75

**Nota:** Las tres primeras columnas indican el porcentaje de un tipo de jugo dentro de una determinada bebida.


$x_1$ = Cantidad de galones de la bebida A a utilizar en el ponche.

$x_2$ = Cantidad de galones de la bebida B a utilizar en el ponche.

$x_3$ = Cantidad de galones de la bebida C a utilizar en el ponche.

$x_4$ = Cantidad de galones de la bebida D a utilizar en el ponche.

**Punto 1 (20 puntos).** Escriba la función a minimizar junto con las restricciones, explicando detalladamente cada paso (usando fórmulas en LaTeX, en celdas Markdown). Además escriba el problema en la forma 
\begin{equation}
\begin{array}{ll}
\min_{\boldsymbol{x}} & \boldsymbol{c}^T\boldsymbol{x} \\
\text{s. a. }        & \boldsymbol{A}_{eq}\boldsymbol{x}=\boldsymbol{b}_{eq} \\
                     & \boldsymbol{A}\boldsymbol{x}\leq\boldsymbol{b},
\end{array}
\end{equation}

proporcionando $\boldsymbol{c}$, $\boldsymbol{A}$ y $\boldsymbol{b}$ ($\boldsymbol{A}_{eq}$ y $\boldsymbol{b}_{eq}$, de ser necesario) como arreglos de `NumPy` (no es necesario escribir en LaTeX el problema en la forma indicada, solo proporcionar las matrices como arreglos de `NumPy`).

**Punto 2 (15 puntos).** Resuelva el problema utilizando la función `linprog`. ¿Cuántos trabajadores son necesarios en total?

## Tercer punto. Ajuste de curvas (35 puntos).

**Enunciado**. El archivo `population_1564.csv` contiene información histórica anual de México relativa a el % de población entre los 15 y 64 años.

**Punto 1 (10 puntos).** Importar los datos en un DataFrame de pandas.

In [4]:
import pandas as pd

In [6]:
file_name = 'population_1564.csv'
data = pd.read_csv(file_name)
data

    Unnamed: 0  Year  Population ages 15-64
0            1  1960              50.706450
1            2  1961              50.451473
2            3  1962              50.141271
3            4  1963              49.834904
4            5  1964              49.621101
5            6  1965              49.535118
6            7  1966              49.451977
7            8  1967              49.476835
8            9  1968              49.574084
9           10  1969              49.677385
10          11  1970              49.748474
11          12  1971              49.757100
12          13  1972              49.720985
13          14  1973              49.676773
14          15  1974              49.689685
15          16  1975              49.796043
16          17  1976              49.805503
17          18  1977              49.987654
18          19  1978              50.277452
19          20  1979              50.591892
20          21  1980              50.901689
21          22  1981              51.392443
22          23  1982              51.807614
23          24  1983              52.211302
24          25  1984              52.690335
25          26  1985              53.273739
26          27  1986              53.913247
27          28  1987              54.616902
28          29  1988              55.350465
29          30  1989              56.050171
30          31  1990              56.680750
31          32  1991              57.239042
32          33  1992              57.771949
33          34  1993              58.268482
34          35  1994              58.726033
35          36  1995              59.147548
36          37  1996              59.515090
37          38  1997              59.831399
38          39  1998              60.116386
39          40  1999              60.400562
40          41  2000              60.701637
41          42  2001              61.018619
42          43  2002              61.351269
43          44  2003              61.690152
44          45  2004              62.017504
45          46  2005              62.325296
46          47  2006              62.731357
47          48  2007              63.125279
48          49  2008              63.514230
49          50  2009              63.906371
50          51  2010              64.300603
51          52  2011              64.688261
52          53  2012              65.064074
53          54  2013              65.421050
54          55  2014              65.750293
55          56  2015              66.045832
56          57  2016              66.263541

**Punto 2 (15 puntos).** Usando los años como variable independiente $x$ y la población como variable dependiente $y$, ajustar polinomios de grado 1 hasta grado 3.

Mostrar en un solo gráfico los datos de población contra los años, y los polinomios ajustados.

Graficar el error cuadrático acumulado contra el número de términos. ¿Cuál es el polinomio que mejor se ajusta?

In [7]:
import numpy as np
import scipy.optimize as opt

In [10]:
x = data.iloc[:,0].values
y = data.iloc[:,2].values
x
y

array([50.70644996, 50.4514734 , 50.1412708 , 49.83490415, 49.62110075,
       49.53511799, 49.45197715, 49.47683537, 49.5740839 , 49.67738542,
       49.74847425, 49.75709959, 49.72098475, 49.67677269, 49.68968504,
       49.79604303, 49.80550275, 49.98765422, 50.27745218, 50.5918924 ,
       50.90168922, 51.39244251, 51.80761393, 52.21130234, 52.69033548,
       53.27373882, 53.91324728, 54.61690198, 55.35046517, 56.05017097,
       56.6807498 , 57.23904163, 57.77194906, 58.26848239, 58.7260335 ,
       59.14754802, 59.51508982, 59.83139857, 60.11638606, 60.4005616 ,
       60.70163733, 61.01861945, 61.35126921, 61.69015197, 62.01750403,
       62.32529584, 62.7313573 , 63.12527861, 63.51423018, 63.90637141,
       64.30060343, 64.68826098, 65.06407393, 65.42105037, 65.75029302,
       66.04583225, 66.2635414 ])

In [11]:
def fun_obj(b, x, y, n):
    return np.sum((y-b.dot([x**i for i in range(n+1)]))**2)

In [ ]:
b01 = np.zeros(2)
ajuste1 = opt.minimize(fun_obj, b01, args=(x,y,1))
b02 = np.zeros(3)
ajuste2 = opt.minimize(fun_obj, b02, args=(x,y,2))
b03 = np.zeros(4)
ajuste3 = opt.minimize(fun_obj, b03, args=(x,y,3))

**Punto 3 (10 puntos).** Con los polinomios ajustados en el punto anterior, estime la población en el año 2016 y compare con el dato real 65.47508615 %.

¿Cuál polinomio estima mejor este dato? ¿Es el polinomio que mejor se ajusta? Concluya.